name: VM Test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y sshpass git

      - name: Test SSH on port 22
        env:
          DEPLOY_SERVER: ${{ secrets.IP }}
          SSH_PASSWORD: ${{ secrets.PASSWORD }}
          DEPLOY_USER: ${{ secrets.USERNAME }}
        run: |
          if sshpass -p "$SSH_PASSWORD" ssh -o StrictHostKeyChecking=no -p 22 $DEPLOY_USER@$DEPLOY_SERVER "exit"; then
            echo "SSH on port 22 succeeded unexpectedly"
            exit 1
          else
            echo "SSH on port 22 failed as expected"
          fi

      - name: Test SSH on port 66
        env:
          DEPLOY_SERVER: ${{ secrets.IP }}
          SSH_PASSWORD: ${{ secrets.PASSWORD }}
          DEPLOY_USER: ${{ secrets.USERNAME }}
        run: |
          if sshpass -p "$SSH_PASSWORD" ssh -o StrictHostKeyChecking=no -p 66 $DEPLOY_USER@$DEPLOY_SERVER "exit"; then
            echo "SSH on port 66 succeeded as expected"
          else
            echo "SSH on port 66 failed unexpectedly"
            exit 1
          fi

      - name: Honeypot VM
        env:
          DEPLOY_SERVER: ${{ secrets.IP }}
          SSH_PASSWORD: ${{ secrets.PASSWORD }}
          DEPLOY_USER: ${{ secrets.USERNAME }}
        run: |
          sshpass -p "$SSH_PASSWORD" ssh -o StrictHostKeyChecking=no -p 66 $DEPLOY_USER@$DEPLOY_SERVER << 'EOF'
            ls -la
          EOF